.ClickableZone {
    background-color: black;
    width: 400px;
    color: white;
    font-size: 20px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}